*{
    padding: 0;
    margin: 0;
    word-break:break-word;
}
header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 10fr;
}
.logo{
    padding-left: 15px;
}
.burger{
    justify-self: end;
    padding-right: 15px;
}
.burger{
    border: none;
    position: relative;
    background-color: white;
}
.burger img{
    width: 32px;
}
header .pages{
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    display: none;
    right: 15px;
    width: 100px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
header .pages a{
    /* width: 10.3333%;
    text-align: end; */
    text-decoration: none;
    color: black;
    margin: 10px 10px;
}

.wrapper{
    max-width: 1280px;
    width: 100%;
    /* padding: 0 15px; */
    margin: auto;
}
.footerContainerBackground{
    background-color: #454443;
}

footer{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;

}
footer p{
    max-width: 600px;
    margin: auto;
    text-align: center;

}




.imagesSectionBackground{
    background-color: lightgrey;
}

.imagesSectionBackground section .leftImages{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: end;
}
.businessManImg{
    max-width: 220px;
    width: 100%;
}
.meetingImg{
    max-width: 370px;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 15px;
}
.skyscraperImg{
    max-width: 390px;
    width:  100%;
    margin-bottom: 15px;
}

.imagesSectionBackground .wrapper{
    display: flex;
    align-items: center;
    height: 100%
}
.desc p{
    max-width: 360px;
    font-style: italic;
    margin-bottom: 15px;

}
.desc button{
    cursor: pointer;
    /* padding: 5px; */
    border: 1px solid black;
    background-color: lightgray;
    min-width: 170px;
    line-height: 40px;

}
.pos-relative{
    position: relative;
}
.positionedBanner{
    max-width: 320px;
    right:  0;
    top: 60px;
    min-height: auto;
    background-color: white;
    position: absolute;
    margin-left: 10px;
    padding: 13px;
}
h3{
    font-size: 28px;
    margin-bottom: 18px;
}


.imagesSectionBackground section{
    min-height: 80%;
    padding: 30px 30px;
    width: 100%;
    display: grid;
    gap: 0 15px;
    grid-template-columns: 1fr;
    
}
.landing{
    display: grid;
    grid-template-rows: 1.1fr 10fr 1.7fr;
}
.burger:focus img{

}
.burger:focus .pages{
    display: flex!important;
    position: absolute;
}

@media (min-width:768px) {
    .imagesSectionBackground section{
        min-height: 80%;
        padding: 30px 0;
        width: 100%;
        display: grid;
        gap: 0 15px;
        grid-template-columns: 1fr 1fr;
        
    }
    .landing{
        display: grid;
        height: 100vh;
        grid-template-rows: 1.1fr 10fr 1.7fr;
    }
    .meetingImg{
        margin-bottom: 0;
    }
    .positionedBanner{
        min-height: 240px;
        padding: 20px;
    }
    .burger img{
        display: none;
        
    }
    .burger{
        justify-self: auto;
    }
    header .pages{
        display: flex;
        position: static;
        background-color: transparent;
        border: none;
        width: auto;
    }
}

